In [20]:
import pandas as pd
valid_df = pd.read_csv("valid.csv")
train_df = pd.read_csv("train.csv")
train_df.head()
train_df.info()
train_df['label'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21464 entries, 0 to 21463
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    21464 non-null  object
 1   label   21464 non-null  int64
dtypes: int64(1), object(1)
memory usage: 335.5+ KB

0    11248
1    10216
Name: label, dtype: int64

In [21]:
train_df['text_length'] = train_df['text'].astype(str).apply(len)
train_df['text_length'].describe()

count    21464.000000
mean        62.252656
std         20.913449
min          7.000000
25%         49.000000
50%         62.000000
75%         74.000000
max        926.000000
Name: text_length, dtype: float64

In [22]:
train_df.nlargest(5, 'text_length')[['text_length','text']]

       text_length                                               text
2041           926  hot wheels ranked number one toy for rolling d...
8312           254  maya angelou, poet, author, civil rights activ...
12187          238  '12 years a slave,' 'captain phillips,' 'ameri...
9210           237  elmore leonard, modern prose master, noted for...
17882          228  occasionally you realize someone you thought w...

In [35]:
from sklearn.pipeline import FeatureUnion
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline

# word level TF-IDF
word_tfidf = TfidfVectorizer(
    lowercase=True,
    ngram_range=(1,2),   # defualt values, adjust latter in GridSearch
    min_df=1,
    max_df=0.95,
    stop_words=None
)

# char level TF-IDF (new)
char_tfidf = TfidfVectorizer(
    analyzer="char",
    ngram_range=(3,5),   # char 3-gram ~ 5-gram
    min_df=1
)

# combine
feature_union = FeatureUnion([
    ("word", word_tfidf),
    ("char", char_tfidf),
])

# new baseline word+char TF-IDF → SVM
baseline_char = Pipeline([
    ("vect", feature_union),
    ("clf", LinearSVC())
])

In [36]:
from sklearn.model_selection import GridSearchCV

params_char = {
    "vect__word__ngram_range": [(1,1), (1,2)],
    "vect__word__min_df": [1, 2],
    
    "vect__char__ngram_range": [(3,5), (4,6)],
    "vect__char__min_df": [1, 2],
    
    
    "clf__C": [1, 3, 5]
    
}

grid_char = GridSearchCV(
    baseline_char,
    param_grid=params_char,
    scoring="f1_macro",
    cv=3,
    n_jobs=-1
    
    #verbose=1
)

grid_char.fit(train_df["text"], train_df["label"])
print("Best params:", grid_char.best_params_)
print("Best CV f1_macro:", grid_char.best_score_)

#grid_char.best_params_, grid_char.best_score_

Best params: {'clf__C': 5, 'vect__char__min_df': 1, 'vect__char__ngram_range': (3, 5), 'vect__word__min_df': 1, 'vect__word__ngram_range': (1, 2)}
Best CV f1_macro: 0.8682935138189206

In [37]:
results_char = pd.DataFrame(grid_char.cv_results_)

results_char = results_char[[
    "param_vect__word__ngram_range",
    "param_vect__word__min_df",
    
    "param_vect__char__ngram_range",  #
    "param_vect__char__min_df",  
    
    "param_clf__C",
    "mean_test_score",
    "std_test_score",
    "rank_test_score"
]]

results_char = results_char.sort_values("rank_test_score")

results_char

,param_vect__word__ngram_range,param_vect__word__min_df,param_vect__char__ngram_range,param_vect__char__min_df,param_clf__C,mean_test_score,std_test_score,rank_test_score
33,"(1, 2)",1,"(3, 5)",1,5,0.868294,0.002710,1
17,"(1, 2)",1,"(3, 5)",1,3,0.867925,0.002992,2
1,"(1, 2)",1,"(3, 5)",1,1,0.867834,0.002152,3
9,"(1, 2)",1,"(3, 5)",2,1,0.867822,0.002005,4
21,"(1, 2)",1,"(4, 6)",1,3,0.867474,0.004549,5
37,"(1, 2)",1,"(4, 6)",1,5,0.867285,0.004005,6
25,"(1, 2)",1,"(3, 5)",2,3,0.867214,0.002198,7
13,"(1, 2)",1,"(4, 6)",2,1,0.866421,0.004044,8
41,"(1, 2)",1,"(3, 5)",2,5,0.866411,0.001773,9
29,"(1, 2)",1,"(4, 6)",2,3,0.865657,0.003236,10
5,"(1, 2)",1,"(4, 6)",1,1,0.865613,0.004265,11
45,"(1, 2)",1,"(4, 6)",2,5,0.865329,0.003257,12
3,"(1, 2)",2,"(3, 5)",1,1,0.863194,0.002028,13
11,"(1, 2)",2,"(3, 5)",2,1,0.861793,0.001473,14
0,"(1, 1)",1,"(3, 5)",1,1,0.861087,0.001613,15
4,"(1, 1)",1,"(4, 6)",1,1,0.860938,0.003128,16
7,"(1, 2)",2,"(4, 6)",1,1,0.860326,0.003513,17
23,"(1, 2)",2,"(4, 6)",1,3,0.860041,0.002553,18
8,"(1, 1)",1,"(3, 5)",2,1,0.859892,0.001507,19
12,"(1, 1)",1,"(4, 6)",2,1,0.859469,0.003320,20
19,"(1, 2)",2,"(3, 5)",1,3,0.859455,0.003324,21
15,"(1, 2)",2,"(4, 6)",2,1,0.859309,0.002953,22
39,"(1, 2)",2,"(4, 6)",1,5,0.858823,0.002610,23
35,"(1, 2)",2,"(3, 5)",1,5,0.858182,0.002136,24
20,"(1, 1)",1,"(4, 6)",1,3,0.857898,0.001721,25
27,"(1, 2)",2,"(3, 5)",2,3,0.857332,0.003255,26
2,"(1, 1)",2,"(3, 5)",1,1,0.857313,0.001939,27
6,"(1, 1)",2,"(4, 6)",1,1,0.857083,0.002370,28
31,"(1, 2)",2,"(4, 6)",2,3,0.856921,0.003486,29
36,"(1, 1)",1,"(4, 6)",1,5,0.856485,0.001627,30
10,"(1, 1)",2,"(3, 5)",2,1,0.856312,0.002330,31
16,"(1, 1)",1,"(3, 5)",1,3,0.856060,0.001528,32
14,"(1, 1)",2,"(4, 6)",2,1,0.856042,0.002802,33
43,"(1, 2)",2,"(3, 5)",2,5,0.855972,0.002849,34
28,"(1, 1)",1,"(4, 6)",2,3,0.855862,0.002584,35
47,"(1, 2)",2,"(4, 6)",2,5,0.855513,0.003280,36
44,"(1, 1)",1,"(4, 6)",2,5,0.854589,0.002066,37
32,"(1, 1)",1,"(3, 5)",1,5,0.854512,0.001121,38
24,"(1, 1)",1,"(3, 5)",2,3,0.854392,0.001677,39
22,"(1, 1)",2,"(4, 6)",1,3,0.853808,0.001330,40
38,"(1, 1)",2,"(4, 6)",1,5,0.853103,0.000873,41
40,"(1, 1)",1,"(3, 5)",2,5,0.852943,0.001823,42
18,"(1, 1)",2,"(3, 5)",1,3,0.852325,0.001475,43
30,"(1, 1)",2,"(4, 6)",2,3,0.851349,0.001689,44
26,"(1, 1)",2,"(3, 5)",2,3,0.851193,0.001947,45
34,"(1, 1)",2,"(3, 5)",1,5,0.850539,0.001615,46
46,"(1, 1)",2,"(4, 6)",2,5,0.849984,0.000816,47
42,"(1, 1)",2,"(3, 5)",2,5,0.849271,0.002621,48

In [38]:
full_df = pd.concat([train_df, valid_df], ignore_index=True)

final_model_char = grid_char.best_estimator_
final_model_char.fit(full_df["text"], full_df["label"])

Pipeline(steps=[('vect',
                 FeatureUnion(transformer_list=[('word',
                                                 TfidfVectorizer(max_df=0.95,
                                                                 ngram_range=(1,
                                                                              2))),
                                                ('char',
                                                 TfidfVectorizer(analyzer='char',
                                                                 ngram_range=(3,
                                                                              5)))])),
                ('clf', LinearSVC(C=5))])

In [39]:
import pandas as pd
from sklearn.metrics import classification_report, confusion_matrix

test_df = pd.read_csv("test.csv")

test_pred_char = final_model_char.predict(test_df["text"])

print(classification_report(test_df["label"], test_pred_char))
print(confusion_matrix(test_df["label"], test_pred_char))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89       526
           1       0.88      0.85      0.87       440

    accuracy                           0.88       966
   macro avg       0.88      0.88      0.88       966
weighted avg       0.88      0.88      0.88       966

[[474  52]
 [ 64 376]]

In [15]:
import joblib
import os

os.makedirs("models", exist_ok=True)

# save pipeline（feature_union + LinearSVC）
joblib.dump(final_model_char, "./models/model_weights.pkl")

#print("模型已保存到 ./models/model_weights.pkl")

模型已保存到 ./models/model_weights.pkl